body{
    text-align: center;
}

h1{
    background-color: aqua;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 10px 18px green;
}
h1:hover{
    background-color:plum;
}
canvas{
    border: 1px solid black;
    
}
span{
    font-size: 18px;
    color: crimson;
}
button{
    padding:8px;
    background-color:coral;
    border: none;
    border-radius: 5px;
}